<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="log.txt" encoding="utf-8"/>
    <target name="logfilecsv" xsi:type="File" fileName="log.csv" encoding="utf-8">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
        <column name="exception" layout="${exception:format=ToString}"/>
      </layout>
    </target>
    <target name="logfilejson" xsi:type="File" fileName="log.json" encoding="utf-8">
      <layout xsi:type="JsonLayout" >
        <attribute  name="time" layout="${longdate}" />
        <attribute  name="level" layout="${level:upperCase=true}"/>
        <attribute  name="logger" layout="${logger}" />
        <attribute  name="message" layout="${message}" />
        <attribute  name="stacktrace" layout="${stacktrace:topFrames=10}" />
        <attribute  name="exception" layout="${exception:format=@}"/>
      </layout>
    </target>
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="logfilecsv" />
    <logger name="*" minlevel="Trace" writeTo="logfilejson" />
  </rules>
</nlog>